.meetVideoContainer {

    position: relative;
    height: 100vh;
    background-color: rgb(1, 4, 48);
    width: 220vh;

}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;



}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;

}

.buttonContainers svg {
    font-size: 4rem;
}

.conferenceView {
    display: flex;

    padding: 10px;
    gap: 10px;

}

.conferenceView video {
    width: 40vh;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}

.chatRoom {
    position: absolute;
    height: 90vh;
    right: 0;
    background-color: white;
    border-radius: 10px;
    width: 30vh;
    bottom: 10vh;
    padding-inline: 20px;

}

.chatContainer {
    position: relative;
    height: 100%;

}

.chattingArea {
    position: absolute;
    bottom: 0;
}